#toppingsSizeContainer{
    width: 80%;
    padding: 10px;
}
.errorDisplay{
    width: fit-content;
    margin: 10px auto;
}

#sizeContainer{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    
}
#sizeContainer h6{
    margin: 10px 0;
}
#toppingsHead{
    
    text-align: center;
    width: fit-content;
    margin: 30px auto;
}
#pizzaToppings{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
#pizzaToppings span{
margin: 10px 10px;
}
#pizzaSize h5{
    width: fit-content;
    margin: 10px auto;
}
#checkoutButton{
    margin: 20px auto;
    width: fit-content;
    display: block;
}
#pizzaToppings h6{
    display: inline;
    text-align: left;
    margin: 10px 10px;
    
}

#toppingsInside{
    display: inline-flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 30%;

}

.btn-wrapper{
    max-width: 768px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.btn-wrapper button{
    background: none;
    width: fit-content;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;

}
.cart{
    min-width: 320px;
    height: 55vh;
    background: linear-gradient(to bottom, black, transparent),
    url("../components/images/background.jpg");
    background-size: cover ;
    background-position:center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart h1{
    
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    letter-spacing: 3px;
    
}
.card-container{
    display: flexbox;
    justify-content: center;
    margin: 0 auto;
}
.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 10px;
    padding-bottom: 20px;
    width: 300px;
    margin: 10px auto;
    border-bottom: 2px solid black;
}
.card h1{
    text-transform: uppercase;
    font-size: 20px;
    margin: 15px auto;
    text-align: center;
}
.card img{
    margin: 10px 10px;
    border-radius: 10px;
    padding: 0;
}
.card p{
    text-transform: uppercase;
    width: 60%;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px auto;
}
.card h4{
    text-transform: uppercase;
    margin: 5px auto;
    letter-spacing: 2px;
}
.card button{
    width: fit-content;
    padding: 5px 10px;
    margin: 10px auto;
    background:none;
    border: 1px black solid;
    border-radius: 5px;
    
}
/* cart styling */
#cartDisplay{
    display: flex;
    width: 100%
}
.cartItems{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    
}
#clearButton{
    background: none;
    border: 2px solid black;
    padding: 5px 10px;
    margin: 10px 10px;
    width: fit-content;
    float: right;
    border-radius: 10px;

}
#filterHead{
    
    margin: 10px auto;
    width: fit-content;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
.footerWrapper{
    background-color: rgba(20, 20, 97, 0.747);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    margin: 10px auto;
}
.footerWrapper ul{
    text-align: left;
    color: white;
    letter-spacing: 2px;
}
.footerWrapper div{
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
}
.footerWrapper ul li{
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
    text-transform: uppercase;
    margin: 15px 10px;
    text-align: left;

}
#headerIntro{
    
    width: fit-content;
    margin: 10px auto;
    padding-bottom: 5px;
    border-bottom: 2px solid red;
}
.itemImage{
    width: 200px;
    border-radius: 30px;

}
.itemDescription{
margin: 10px;
display: flex;
flex-direction: column;
align-items: center;
}
.itemDescription h1{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.itemDescription p{
    font-size: 12px;
    text-align: center;
    margin: none;
}
.itemDescription button{
    width: fit-content;
    margin: 10px auto;
    background:none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}
.linkContainer{
 
display: flex;
width: fit-content;
position: absolute;
top: 5px;
right: 10px;

}
.pageNavigator{
    width: 30px;
    font-size: 20px;
    margin: 10px 10px;
    text-transform: uppercase;
    color: white;
}
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.popup h5{
    width: fit-content;
}
#totalAmount{
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 375px) {
    .card{
        width: 330px;
    }
    #heroIntro{
        font-size: 40px;
    }
}
@media only screen and (min-width: 768px) {
   .card{
       display: inline-flex;
       border: none;
       
   }
    #heroIntro{
        transform: scale(1.5);
    }
}
@media only screen and (min-width: 1024px) {
    .card{
        width: 320px;
    }
    #filterHead{
        font-size: 20px;
    }
    #headerIntro{
        font-size: 30px;
    }
    .linkContainer a img{
        transform: scale(1.6);
        margin: 20px;
    }
   

}